@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');


:root {
    --primary-dark: #BF947A;
    --primary-light: #D9A993;
    --orange: #DD8232;
    --red: #B32000;
    --green: #738C65;
    --second-darkest: #160F0B;
    --second-darker: #3E291C;
    --second-dark: #432D1F;
    --second-light: #743019;
    --gradient: linear-gradient(var(--second-light), var(--second-darkest));
    --background-white1: #F2EDE4;
    --background-white2: #F0EEE9;
    --accent-white: #ffffff;
    --accent-black: #000000;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--background-white2);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-size: 72px;
    letter-spacing: 0.72px;
}

h3 {
    font-size: 52px;
}

h4 {
    font-size: 48px;
}

p {
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

header{
    height: 1024px;
    width: 100%;
    background-image: url(./content/img/fundo.svg);
    background-size: cover;
    flex-direction: column;
    padding-top: 32px;
    position: relative;
}

nav {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75rem;
    margin-left: 80px;
    margin-right: 18px;
    margin-bottom: 57px;
    margin-top: 24px;
}

.headerLogo{
    margin-right: auto;    
    height: auto;
}

.navmenulist{
    width: 662px;
    height: 40px;
}

.navMenu, .navmenulist{
    width: 662px;
    height: 40px;
    display: flex;
    margin-left: 100px;
    gap: 48px;
    color: var(--background-white2);
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    padding-right: 24px;
    align-items:center;
    position: relative;
}

.navMenu a{
    color: var(--background-white2);
    text-decoration: none;
}

#servicos{
    position: relative;
}

.ri-arrow-drop-down-line{
    position: absolute;
    right: -40%;
    bottom: 15%;
}

.ri-user-3-fill{
    position: absolute;
    bottom: 15%;
}

.linenav{
 position: absolute;
    bottom: 20%;
}

.navmenulist{
    color: var(--background-white2);
    text-decoration: none;
}

.intro {
    height: 842px;
    min-width: 1488px;
    display: flex;
    margin-right: 80px;
    margin-left: 80px;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}

.introimg {
    height: auto;
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: -0.8%;
    padding-right: 20px;
}

.introimg img{
    width: 637px;
    height: 842px;
    margin-left:auto;
}

.introtxt {
    margin-top: 180px;
    height: 420px;
    width: 680px;
    position: absolute;
    left: 0;
    z-index: 1;
    flex-wrap: wrap;
    gap: 32px;
}

.introtxt > h1{
    text-transform: lowercase;
}

.introtxt h1:not(#programaarca){
    color: var(--background-white2);
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.introtxt p{
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    color: var(--background-white2);
    font-size: 32px;
    letter-spacing: 1,28px;
    line-height: 105%;
    margin-top: 32px;
}

.HomepageBtn{
    width: 250px;
    height: 40px;
    margin-top: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 50px;
    text-align: center;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid transparent;
}

.HomepageBtn:hover{
    max-height: 40px;
    background: transparent;
    border: 2px solid var(--background-white2);
    border-color: var(--background-white2);
    box-sizing: border-box;
    color: var(--background-white2);
}

#programaarca{
    background: linear-gradient(#141413, #733017 30%,#141413 95%);
    background-clip: text;
    color: transparent;
    white-space:nowrap;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3)
}

main p:not(.imagensslider){
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    font-size: 32px;
    letter-spacing: 1,28px;
    line-height: 105%;
}

.eventosnoticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px;
}

.sliderwrapper{
    margin-left: 80px;
    margin-right: 80px;
    height: 750px;
    width: 1070px;
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    scroll-snap-type: x mandatory;
    position: relative;
    margin: auto;
}

.imagensslider{
    display: flex;
    height: 100%;
    width: max-content;
    gap: 1em;
    position: absolute;
    top: 0;
    left: 0;
}

.imagensslider img{
    width: 100%;
    max-width: 1070px;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
}

.noticia{
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

.noticiatxt{
    width: 100%;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.25); 
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0 0 75px 75px; 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--background-white2);
}

.noticiastxt{
    margin-bottom: 32px;
}

.botoes{
    width: 100vh;
    gap: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 2;
}

#notnext, #notprev{
    font-size: 6rem;
    cursor: pointer;
    background-color: transparent;
}

.markers ul{
    display: flex;
}

.markers li{
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
    color: grey;
}

.markers li.ativo{
    color: #000000;
}
