@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root {
    --color-1: #F0EEE9;
    --text-color: #f0f0f0;
    --accent-color: #2C2521;
}


img{
    height: 50px;
    margin: 20px 0px 0px 20px;
}
.evento{
    height: 500px;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 30pt;
    font-family: Dongle;
}

.links-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 300px;
    background-color: #F0EEE9;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 1s ease-out;
    
    }

nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--accent-color);
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
}

nav a:hover::before{
    content: "|";
    color: #2C2521;
    margin-right: 5px;
}

nav a:hover{
    color: #DF8D44;
}
nav .home-link{
    margin-right: auto;
}
nav svg{
    fill: aqua;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

    .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
    }
    #sidebar-active:checked ~ .links-container{
        left: 0%;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
