@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Dongle&display=swap');

:root {
    --color-1: #F0EEE9;
    --text-color: #f0f0f0;
    --accent-color: #2C2521;
}

.adocao2 {
    color: #f2a35e;
}
.denuncia2 {
    color: #fdfdfd;
}
.sair2{
        color: #fdfdfd;
}
.sair{
    background-color: #b32000;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 270px;
    font-size: 30px;
    text-align: center;
    margin-left: 30px;
    border-width: 2px;
    border-style: solid;
    height: 30px;
    display: flex;  
    align-items: center;
    margin-top: 10px;
}

.adocao{
    background-color: #F0EEE9;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 270px;
    font-size: 30px;
    text-align: center;
    margin-left: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #dd8232;
    color: #F2A35E;
    height: 30px;
    display: flex;
    align-items: center;
}

.denuncia{
    background-color: #dd8232;
    border-radius: 20px;
    width: 270px;
    font-size: 30px;
    text-align: center;
    margin-left: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  
}
.sidehome{
    display: flex;
    font-size: 50px;
    padding: 0px;
    width: 300px;
    font-size: 30px;
}
.noticias {
    margin-left: 10px;
    margin-bottom: -20px;
    padding: 0;
}
.sidehome a{
    display: flex;
    font-size: 50px;
    padding: 0px;
}
.home-link{
    font-family: Bowlby One SC;
    margin-top: 50px;
}
.sideoptions a{
    padding: 0px;
    margin-left: 40px;
    height: 50px;
}
.sideoptions {
    margin-bottom: 20px;
}
img{
    margin-top: 60px;
    margin-left: 40px;
    height: 50px;
    margin-right: 5px;
}
.evento{
    height: 500px;
    margin: 0 0px 0px 20px;
}

*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 30pt;
    font-family: Dongle;
}

.links-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 350px;
    background-color: #F0EEE9;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 1s ease-out;
    
    }

nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--accent-color);
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
}

nav a:not(.excecao):hover::before{
    content: "|";
    color: #2C2521;
    margin-right: 5px;
}

nav a:not(.excecao):hover{
    color: #DF8D44;
}
nav .home-link{
    margin-right: auto;
}
nav svg{
    fill: aqua;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

    .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
    }
    #sidebar-active:checked ~ .links-container{
        left: 0%;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
